<li id="panels_<%= edit_panel.id %>" data-panel-id="<%= edit_panel.id %>" class="border">	
	<%= image_tag edit_panel.current_image_url(), :class => "drag" %>
	<div class="panel_buttons">
			<button class="edit_panel">Edit Panel</button>
			<button class="delete_panel" data-remote-url="<%= comic_panel_url(@comic, edit_panel) %>" data-confirm="Are you sure this is what you really, really want to do?">Delete Panel</button>
	</div>
	<div class="edit_panel_dialog dialog" data-panel-element-id="panels_<%= edit_panel.id %>">
		<div class="workspace">
			<% if edit_panel %>
				<%= image_tag edit_panel.original_image.url(:medium), :id => "#{edit_panel.id}"  %>
			<% end %>
			<canvas class="canvas">nope</canvas>	
		</div>

		<ul class="workspace_controllers inline_list">
		 <li><button class="pixelate" data-remote-url="<%= pixelate_comic_panel_url(@comic, edit_panel) %>">Pixelate</button></li>
		 <li><button class="zoom" data-remote-url="<%= zoom_comic_panel_url(@comic, edit_panel) %>">Zoom</button></li>
		 <li><button class="export_art">Download Panel</button></li>
		 <li><button class="clear_canvas">Clear Canvas</button></li> 
		 <li>
				<% form_for edit_panel, :url => comic_panel_path(@comic, edit_panel), :html => {:id => "art_form"} do |f| %>
				 	<%= f.submit 'Save Panel', :class => "default_button" %>
				<% end %>
			</li>
		</ul>
	</div>
</li>