<div id="workspace">
	<% if @panel %>
		<%= image_tag @panel.original_image.url(:medium), :id => "#{@panel.id}" %>
	<% end %>
	<canvas id="canvas">nope</canvas>	
</div>

<ul id="workspace_controllers" class='inline_list'>
 <li><button id="draw">draw</button></li>
 <li><button id="zoom">Zoom</button></li>
 <li><button id="export_art">Download Art</button></li>
 <li><button id="clear_canvas">Clear Canvas</button></li> 
 <li><%= link_to "Comic", comic_path(:id => @comic.id) %></li>
 <li>
		<% form_for @panel, :html => {:id => "art_form"} do |f| %>
			<%= hidden_field_tag :my_panel %>
			<%= f.hidden_field :comic_id, :value => @comic.id %>
		 	<%= f.submit 'Make Comic Panel' %>
		<% end %>
	</li>
</ul>