<ul class="inline_list index">
	
<% @comic_cover_set.each do |c| %>
	<li>
		
		<% link_to comic_path(c) do %>
		<!-- show first four panels in div float left with width only enough for two-->
		<div class="thumbnail_grid">
			<% c.panels.each_with_index do |p, index| %>
				<% if index < 5 %>
					<%= image_tag(p.current_image_url(), :border => 0,  :width => "150", :height => "100", :class => "faded") %>	
				<% end %>
			<% end %>
			<span class="overlay_text">
				<%= c.title %>
			</span>
		<% end %>
		</div>
	</li>
	
<% end %>
</ul>

<div class="clear">
<% form_for Comic.new, :url => comics_path do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %> <span id="comic_title_error">You Must Give Your Comic a Title.</span><br />
	<%= f.submit "Submit!" %>	
<% end %>
</div>