<ul>
	
<% @comics.each do |c| %>
	<li>
		<% if c.panels.first %>
			<%= link_to image_tag(c.panels.first.current_image_url(), :border => 0), comic_path(c)  %>
		<% end %>
		<%= link_to c.title, comic_path(c) %>
	</li>
	
<% end %>
</ul>

<% form_for Comic.new, :url => comics_path do |f| %>
	
	<%= f.label :title %>
	<%= f.text_field :title %> <span id="comic_title_error">You Must Give Your Comic a Title.</span><br />
	<%= f.submit "Submit!" %>	
	
<% end %>