<%if @comic.panels %>
 <ul class="inline_list sortable" id="<%= @comic.id %>" data-panels-length="<%= @comic.panels.size %>">
  	<%= render :partial=> "show_panel", :collection => @comic.panels %>
 </ul>
<% end %>

<div id="add_text_dialog" title="<%= @comic.title %>" class="dialog">
	<%= render "add_text" %>
</div>

<div id="new_panel_dialog" title="Add a Panel to <%= @comic.title %>" class="dialog">
	<%= render "add_panel" %>
</div>

<p class='link'>
	<span id="add_panel"> Add New Panel to <%= @comic.title %></span>
	<%= link_to "Edit #{@comic.title}", edit_comic_path(@comic), :id=>"edit_comic" %></p>


<div id="edit_panel_dialog" class="dialog">
	<%= render "edit_panel" %>	
</div>
